* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-menu {
    height: 80px;
    background-color: #6B5B95;
    border: 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.logo-menu .material-icons {
    color: whitesmoke;
    font-size: 1.8em;
    margin-right: 5px;
}

.logo-menu .titulo {
    color: whitesmoke;
    font-size: 1.5em;
    font-family:Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.menu a:nth-child(1) {
    margin-left: 0;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2em;
    font-family:Helvetica, sans-serif;
    padding-left: 300px;
}

.menu a:nth-child(2) {
    margin-left: 0;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2em;
    font-family:Helvetica, sans-serif;
    padding-left: 80px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.content {
    padding-top: 40px;
    max-width: 1000px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.material-icons {
    vertical-align: middle;
}

.containeranalise {
    width: 100%;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

.content h1,
.content h2,
.content h3,
.content strong {
    color: #6B5B95;
}

.seletors {
    display: flex;
    align-items: center;
    gap: 50px;
}

.content h2 {
    margin-top: 0 0 10px;
    font-size: 20px;
}

input {
    border-radius: 5px;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    border: 2px solid #6B5B95;
}

input:focus {
    outline: none;
    border-color: #6B5B95;
}

.uf_selector,
.cidade {
    flex: 1;
}

.uf_control,
.cidade_control,
.instituicao_control,
.curso_control,
.grau_control,
.turno_control,
.modalidade_control,
.opcao_control,
.nota_redacao_control,
.nota_cn_control,
.nota_ch_control,
.nota_linguagens_control,
.nota_matematica_control {
    border-radius: 5px;
    width: 100%; 
    border: 2px solid #6B5B95;
    padding: 10px 15px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: white;
}

.btn.btn-outline-primary {
    border-radius: 5px;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    display: block;

    margin-top: 60px;
    background-color: white;
    color: #6B5B95;
    border: 2px solid #6B5B95;
}

.btn.btn-outline-primary:hover {
    background-color: #6B5B95;
    color: white;
    border-color: #6B5B95;
}

#probabilidade {
    padding-top: 50px;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #6B5B95;
    font-size: 1.8em;
    font-family:Helvetica, sans-serif;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

footer a {
    color: #6B5B95;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}
