<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen" />
    <title>Aprovei?!</title>
</head>
<body>
    <header>
        <div class="logo-menu">
            <a class="titulo" href="./index.html">
                <i class="material-icons">check_box</i>
                <strong>APROVEI</strong>
            </a>
            
            <div class="menu">
                <a href="./analise.html">
                    <i class="material-icons">insert_chart</i>
                    <strong>ANÁLISE 2022</strong>
                </a>
                <a href="./predicoes.html">
                    <i class="material-icons">calculate</i>
                    <strong>PROBABILIDADES 2024</strong>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <iframe
                src="http://localhost:3000/public/dashboard/29940141-0eec-4bad-9096-719e70c3fe22"
                frameborder="0"
                width="800"
                height="600"
                allowtransparency
            ></iframe>
            </div>
        </div>
</body>
</html>
