<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen" />
    <title>Aprovei?!</title>
</head>
<body>
    <header>
        <div class="logo-menu">
            <a class="titulo" href="./index.html">
                <i class="material-icons">check_box</i>
                <strong>APROVEI</strong>
            </a>
            
            <div class="menu">
                <a href="./analise.html">
                    <i class="material-icons">insert_chart</i>
                    <strong>ANÁLISE 2022</strong>
                </a>
                <a href="./predicoes.html">
                    <i class="material-icons">calculate</i>
                    <strong>PROBABILIDADES 2024</strong>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h1>Seja bem-vindo(a)!</h1>
                <p>Este é um site para análise de dados e cálculo de 
                    probabilidade de aprovação para cursos superiores através do
                     SISU.</p>
                <br>
                     <h3>Como funciona?</h3>
                     <p>Para utilizar o site, selecione a categoria de interesse
                        no menu acima. Na página de <strong>análise</strong>, 
                        você poderá selecionar o curso e a universidade de 
                        interesse e visualizar os dados relacionados a eles. 
                        Como os dados do SISU 2023 ainda não foram divulgados 
                        até a data de publicação deste site, os resultados 
                        apresentados são referentes ao SISU 2022. Na página de 
                        <strong>predições</strong>, será necessário que você 
                        informe os dados solicitados para que o sistema 
                        calcule a probabilidade de aprovação para o curso e 
                        universidade selecionados.
                     </p>
            </div>
        </div>
</body>
</html>
